button {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-left: 370px;
    width: 100px;
    height: 40px;
}
.form-box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 500px;
    height: 500px;
    margin: auto;
}

